@inherits LayoutComponentBase


<div class="main bg-image-1">
    <div class="top-row px-4">
        <div>
            <a href="/"><img class="align-text-bottom" src="/imgs/crocodile-clipart-1.png" style="width:7.5rem;" /></a>
            <h3 class="main-heading pl-2">CROC LINKS</h3>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
